* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header__link > a.active {
  color: red!important;
}
.header__link a {
  position: relative;
}
.header__link span {
  position: absolute;
  top: -18px;
  right: 30px;
  font-size: 14px;
}

.nav-wrapper {
  padding: 0 15px;
}
#nav-mobile {
  margin-right: 11px;

}

.home {
  padding: 50px 0 50px;
  &__card-image {
    width: 100%;
  }
  &__card-title {
    font-size: 18px!important;
    font-weight: bold!important;
    height: 40px;
    margin: 7px 0 8px;
    line-height: 20px;
  }
  &__card-brand {
    font-size: 18px;
    margin-bottom: 15px!important;
  }
  &__card-color {
    height: 40px;
  }
}
.card {
  padding: 5px 10px 15px;

}
.card .card-content {
  padding: 0 8px;
  margin: 15px 0;
}

.card .card-action {
  padding: 10px 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__btn {
  padding: 7px 25px;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: red;
}
.cart__buttons-row {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.cart__buttons-row button {
  padding: 3px 7px;
  cursor: pointer;
  outline: none;
  border: none;
}
.cart__button-plus {
  background-color: gray;
  color: white;
}

.cart__foot {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.cart__pay {
  cursor: pointer;
}
.card__search {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  right: 20px;
}
.card__search ion-icon {
  font-size: 20px;
}
.card__input {
  position: relative;
}